.SpriteSectionBox {
    border: 1px dashed #862e9c;
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 85vh;
    /* margin: 5% 0 -5% 0; */
    /* justify-content: space-evenly; */
    /* Fix position to bottom just as in LSB.css - sprites are only visible from waist/thighs up (cut off by bottom of screen) */
}
.SpriteBox {
    margin:0 4% 0 4%;
    border: 1px dashed darkblue;
    flex:1;
}
.Sprite {
    max-width: 90%;
    max-height: 90%;
    border: 2.5px solid black;

    bottom: 0;
    /* object-fit: cover; */
}
#Aiko {
    border: 3px solid hotpink;
}
.test{
    border: 3px solid maroon;
    max-height: 30%;
    max-width: 30%;
}