.SpriteSectionBox {
    /* border: 1px dashed #862e9c; */
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 90vh;
    /* margin: 5% 0 -5% 0; */
    /* justify-content: space-evenly; */
    /* Fix position to bottom just as in LSB.css - sprites are only visible from waist/thighs up (cut off by bottom of screen) */
}
.SpriteBox {
    margin:0 4% 0 4%;
    /* border: 2px dashed cyan; */
    flex:1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    
}
.Sprite {
    max-width: 90%;
    max-height: 90%;
    min-height: 75%;
    min-width: 75%;
    object-fit: cover;
    width: auto;
    height: auto;
    /* border: 2.5px solid white; */
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.3))
    /* object-fit: cover; */
}
.SpriteEmpty {
    max-width: 90%;
    max-height: 90%;
    object-fit: cover;
    width: auto;
    height: auto;
    /* border: 2.5px solid white; */
    /* object-fit: cover; */
}
/* #Aiko {
    border: 3px solid grey;
}
#Aico {
   border: 3px solid hotpink; 
} */
.test{
    border: 3px solid maroon;
    max-height: 30%;
    max-width: 30%;
}