.ChoiceBox {
    border: 3px dashed #495057;
    margin:0 30% 0 30%;
    width:40%;
    position:fixed;
    top:30%;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;

}
.ChoiceButton {
    border: 1px dashed cyan;
    display: block;
    margin: 3% auto;
    width: 80%;
    height: 2.5em;;
/*     border:none; */
}
.ChoiceQuestion{
    display:block;
    margin:2% auto;
    color: cyan;
} 
