.NameBox {
    border: 1px solid #ff00ff;
    margin: 2px 80% 2px 10%;
    padding: 1px 3px 1px 3px;
    width: 16%;
    height: 4%;
    max-height: 10%;
};



.NameBar {
    /* >>> aaaaaaaaaaaaah why doesn't this work <<< */
    margin-top: 6px;
    margin-bottom: 6px;
    max-height: 5%
};