.NameBox {
    /* border: 3px solid #ff00ff; */
    margin-right: 80%;
    margin-left: 20%;
    padding: 1px 0px 5px;
    position:absolute;
    width: 25%;
    height: 20%;
    max-height: 20%;
/*     top: 2.5%;
    bottom: 77.5%; */
    /* The following lines are only for the <p> tag */
    display: flex;
    justify-content: left;
    align-items: center; 
    /* color:white; */
}

.NameBar {
    margin-top: 6px;
    margin-bottom: 6px;
    /* max-height: 5%; */
}
/* #Aico {
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
} */