.LowerSectionBox {
    border: 3px dashed #00ff00;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25%;
    background: linear-gradient(
        to right,
        transparent,
        rgba(255,255,255,0.8)
        10%,
        rgba(255,255,255,0.8)
        90%,
        transparent
    );
}

/* #00F5CB */
