.App {
  text-align: center;
}
.log-toggle-button {
    border: 1px dashed cyan;
    width: auto;
    height: auto;
}
.auto-toggle-button {
    border: 1px dashed cyan;
    width: auto;
    height: auto;
}
