.ReusableButtonGroup {
    border: 3px dashed #ffc0cb;
    margin: 3px 30% 0px 30%;
    position: fixed;
    bottom:0;
    width:40%;
    display: flex;
    justify-content: space-evenly;
}
.FunctionButton {
    border: 1px dashed cyan;
}